<div class="container">
  <h1>New list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name%>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-warning btn-lg" %>
  <% end %>

  <div class="mt-3">
  <%= link_to "Back to my lists", lists_path, class: "btn btn-primary"%>
  </div>


</div>
